<!-- 
	Note: Only display if the cookie does not exist 
	The cookie should be named cookieNotice + the id, like "cookieNotice1"
-->
<!-- <div id="1" class="component cookie-notice">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<h2>Cookie Notice:</h2>
				<p>
					This is a cookie notice at the bottom of the page. Cum sociis natoque penatibus et magnis dis
					parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet,
					consectetur adipiscing elit.
				</p>
				<button class="accept">Okay</button>
			</div>
		</div>
	</div>
</div> -->