<footer>
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <ul class="nav">
                    <li>
                        <a href="https://github.com/millertchris" target="_blank"><i class="fab fa-github"
                                aria-label="Chris Miller on Github"></i></a>
                    </li>
                    <li>
                        <a href="https://codepen.io/millertchris" target="_blank"><i class="fab fa-codepen"
                                aria-label="Chris Miller on Codepen"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/millertchris" target="_blank"><i class="fab fa-twitter"
                                aria-label="Chris Miller on Twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://wordpress.org/support/users/millertchris" target="_blank"><i class="fab fa-wordpress-simple"
                                aria-label="Chris Miller on WordPress"></i></a>
                    </li>
                </ul>
                <p class="copyright">&copy; 2021 Chris Miller</p>              
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>