<!-- <div id="load-screen">
    <div class="wrapper">
        <div class="spinner-box">
            <div class="circle-border">
                <div class="circle-core"></div>
            </div>
        </div>
    </div>
</div> -->

<header id="main-nav">
	<div class="wrapper">
        <div class="row">
            <div class="col">
                <a href="#" class="logo">Chris Miller</a>
            </div>
            <div class="col">
                <nav>
                    <ul>
                        <li><a href="#">Work</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <div class="theme-switch-wrapper">
                    <label class="theme-switch" for="checkbox">
                        <input type="checkbox" id="checkbox" class="visually-hidden" />
                        <i class="fas fa-adjust" aria-label="Enable Dark mode"></i>
                    </label>
                </div>
                <!-- <button id="enable-dark-mode"><i class="fas fa-adjust" aria-label="Dark mode"></i></button> -->
            </div>
        </div>
    </div>
</header>