<!-- 
	Reference the Parklands site for how this notification should be setup 
	Note: Only display if the cookie does not exist 
	The cookie should be named notification + the id, like "notification1234"
-->
<!-- <div id="1234" class="component notification">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<h2>Alert:</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Libero, praesentium velit. Ipsum fugiat, ex in magnam amet,
					dolore quaerat temporibus nesciunt sapiente, laboriosam
					explicabo.
				</p>
			</div>
			<div class="col">
				<button class="close">
					<i class="fal fa-times"></i>
					<span class="visually-hide-text">Close Notice</span>
				</button>
			</div>
		</div>
	</div>
</div> -->