.wp-caption {
	position: relative;
}

.wp-caption-text {
	position: relative;
}

.screen-reader-text {
	position: relative;
}

.gallery-caption {
	position: relative;
}

.bypostauthor {
	position: relative;
}

.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}
